@use 'variables';
@use 'utilityClasses';
@use 'sass:color';

p:not([class]) {
	opacity: 0.7;
	color: variables.$c-primary-400;
	max-width: 32ch;
}

p[data-width="wide"] {
	max-width: 41ch;
}
p[data-width="xwide"] {
	max-width: 45ch;
}

.cta {
	position: relative;
	isolation: isolate;
	text-align: center;
	padding-top: 1.5rem;

	@media (min-width: 50em) {
		text-align: left;
	};	

	&::before {
		z-index: -1;
		content: '';
		position: absolute;		
		inset: 0;
		background-image: url(			
		'/src/images/bg-simplify-section-desktop.svg'
		);
	
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: left 14rem bottom -2rem;


		@media (max-width: 50em) {
			background-size: 200%;
		}

		@media (max-width: 30em) {
			background-image: url(
				'/src/images/bg-simplify-section-mobile.svg'
			);			
			background-position: left -0.25rem top 2rem;
			background-size: 6rem 18.75rem;
		}
	}
	p {
		padding-top: 1.5rem;
	}
}

.numbered-items {
	counter-reset: count;
	width: fit-content;
	margin-inline: auto;

	li {
		counter-increment: count;
	}

	div {		
		display: grid;
		grid-template-columns: min-content 1fr;
		column-gap: 1rem;
		align-items: center;
		position: relative;

		@media (max-width: 30em) {
			&::after {				
				$bg: variables.$c-accent-100;
				content: '';
				display: block;
				grid-column: 1 / -1;
				grid-row: 1 / 2;			
				height: 40px;
				width: 100%;
				background-color: $bg;
				z-index: -1;
				border-radius: 100vw;
				box-shadow: 10em 0 0 $bg;
			}
		}
		&::before {					
			text-align: center;
			content: '0' counter(count);
			background-color: variables.$c-accent-400;
			color: variables.$c-neutral-100;
			font-weight: variables.$fw-bold;
			padding: 0 1.5rem;
			height: 40px;
			border-radius: 100vw;
			display: flex;
			align-items: center;
			grid-row: 1 / 2;
			grid-column: 1 / 2;
		}
		

		p {
			grid-column: 1 / -1;			
			@media (min-width: 50em) {
				grid-column: 2 / -1;
			}
		}

		.numbered-items-title {		
			grid-column: 2 / -1;
			grid-row: 1 / 2;
			line-height: 1;
		}
	}

}


.image-with-blob-bg {

	&::before {
		content: "";
		position: absolute;
		width: 43%;
		aspect-ratio: 1;
		z-index: -1;
		right: 0;
		top: 0;
		background-image: url('/src/images/bg-tablet-pattern.svg');
		background-position: bottom left;
		background-repeat: no-repeat;

		@media (max-width: 50em) {
			width: 87%;
			aspect-ratio: 1 / 1.2;
			max-height: 70vh;
		}

	}

	@media (max-width: 50em) {
		order: -1;
	}
}

.sales_points {
	position: relative;
	overflow: visible;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		aspect-ratio: 1;
		z-index: -1;
		left: -75%;
		top: 40%;
		background-image: url('/src/images/bg-tablet-pattern.svg');
		background-position: top right;
		background-repeat: no-repeat;

		@media (max-width: 50em) {
			background-position: bottom left;
			right: -65%;
			top: -40%;	
			left: auto;
			width: 100%;
			background-size: 85% 85%;
		}
	}
}